<div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-spacing l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--2-col u-space--top">
    {% if my_page.kicker %}
        <div class="c-card__kicker">
            {{ my_page.kicker }}
        </div><!--end c-card__kicker-->
    {% endif %}

    <h3 class="u-theme--color--darker u-font--primary--m l-grid-item--m--2-col -grid-item--3-col l-grid-item--m--2-col">
        <a href="{{ my_page.url }}" class="c-block__title-link u-theme--link-hover--dark">
        <strong>{{ my_page.title }}</strong>
        <svg class="c-icon c-card__icon">
        <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
        </svg>
        </a>
    </h3>

    <div class="c-block__body l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--2-col u-spacing">
        <p>{{ my_page.description }}</p>

        <a href="{{ my_page.url }}" class="c-block__button o-button o-button--outline">
            Learn More

            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>o-arrow__long--left</title>

                    <path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/>
                </svg>
            </span>
        </a>
    </div>
</div>
