
<div class="c-media-block c-block c-block__stacked c-media-block__stacked l-grid-wrap l-grid--7-col l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-border u-padding--half--bottom">
  <div class="c-media-block__image c-block__image l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col u-padding--half--top u-padding--half--left u-padding--half--right">
    <div class="c-block__image-wrap ">
      <div class="c-color-swatch {{ color.cssClassName }} ">
      </div>
    </div>
  </div>
  <!-- c-media-block__image -->
  <div class="c-media-block__content c-block__content u-spacing l-grid-item--3-col l-grid-item--m--2-col l-grid-item--xl--1-col">
    <div class="u-spacing--half c-block__group c-media-block__group ">
      <div class="u-width--100p">
        <h3 class="c-media-block__title c-block__title u-theme--color--dark u-font--primary--m ">
          {{ color.friendlyName }}
        </h3>
      </div>
      <div class="c-media-block__meta u-font--secondary--s">
        <ul>
          {% if color.value_hex %}
          <li class="js-copy-text sg-swatch--value" data-value="{{ color.value_hex }}">
            <span class="u-theme--color--base">HEX</span>: {{ color.value_hex }}
          </li>
          {% endif %}

          {% if color.value_rgb %}
          <li class="js-copy-text sg-swatch--value" data-value="{{ color.value_rgb }}">
            <span class="u-theme--color--base">RGB</span>: {{ color.value_rgb }}
          </li>
          {% endif %}

          {% if color.value_cmyk %}
          <li class="js-copy-text sg-swatch--value" data-value="{{ color.value_cmyk }}">
            <span class="u-theme--color--base">CMYK</span>: {{ color.value_cmyk }}
          </li>
          {% endif %}

          {% if color.value_pantone %}
          <li class="js-copy-text sg-swatch--value" data-value="{{ color.value_pantone }}">
            <span class="u-theme--color--base">Pantone</span>: {{ color.value_pantone }}
          </li>
          {% endif %}

          {% if color.value_sass %}
          <li class="js-copy-text sg-swatch--value" data-value="{{ color.value_sass }}">
            <span class="u-theme--color--base">SASS</span>: {{ color.value_sass }}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <!-- c-media-block__content -->
</div>
<!-- c-media-block -->
