  <script src="{{ " /js/vendor/jquery-3.1.0.min.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/vendor/prism.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/vendor/iframe-resizer.min.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/vendor/clipboard.min.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/style-guide.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/prism.js " | prepend: site.baseurl }}"></script>

  <script src="/v3/js/script.min.js" type="text/javascript"></script>
