  <div class="c-media-block c-block c-block__inset c-media-block__inset">
          <div class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                              <source srcset="//picsum.photos/1440/550" media="(min-width: 1000px)">
                                            <source srcset="//picsum.photos/1000/550" media="(min-width: 800px)">
                            <source srcset="//picsum.photos/800/450" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/375" alt="Alt Text">
            </picture>
                  </div>
      </div> <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing l-grid--7-col u-theme--background-color--darker">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-spacing u-width--100p">
                                <h3 class="c-media-block__title c-block__title l-grid-item l-grid-item--m--4-col u-link-hover--white ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                            Adventist leaders call for international cooperation to end abuse of refugees in Libya
                              </a>
                          </h3>
                            </div>
        <div class="c-media-block__meta c-block__meta l-grid-item l-grid-item--m--2-col">
                                <time class="c-block__date u-text-transform--upper" datetime="2018-12-28">December 28, 2018</time>
                  </div>
              </div>
    </div> <!-- c-media-block__content -->
  </div> <!-- c-media-block -->
