<div class="text u-spacing">
  <nav class="c-breadcrumbs" role="navigation">
  <ul class="c-breadcrumbs__list">
          <li class="c-breadcrumbs__list-item u-font--secondary--s u-text-transform--upper u-display--inline-block u-color--gray"><span class="u-icon u-icon--xs u-path-fill--gray"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>Artboard 1</title><path d="M6.75,3.59,3.25.09,1.84,1.5,5.34,5,1.84,8.5,3.25,9.91l3.5-3.5L8.16,5Z" fill="#9b9b9b"/></svg>
</span><strong><a href="/" class="c-breadcrumbs__link can-be--white">Home</a></strong></li>
          <li class="c-breadcrumbs__list-item u-font--secondary--s u-text-transform--upper u-display--inline-block u-color--gray"><span class="u-icon u-icon--xs u-path-fill--gray"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>Artboard 1</title><path d="M6.75,3.59,3.25.09,1.84,1.5,5.34,5,1.84,8.5,3.25,9.91l3.5-3.5L8.16,5Z" fill="#9b9b9b"/></svg>
</span><strong><a href="/vitality" class="c-breadcrumbs__link can-be--white">Vitality</a></strong></li>
          <li class="c-breadcrumbs__list-item u-font--secondary--s u-text-transform--upper u-display--inline-block u-color--gray"><span class="u-icon u-icon--xs u-path-fill--gray"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>Artboard 1</title><path d="M6.75,3.59,3.25.09,1.84,1.5,5.34,5,1.84,8.5,3.25,9.91l3.5-3.5L8.16,5Z" fill="#9b9b9b"/></svg>
</span><strong><a  class="c-breadcrumbs__link can-be--white">Photos</a></strong></li>
      </ul>
</nav> <!-- /.breadcrumbs -->
  <h2>Header Two</h2>
  <p>Praesent pulvinar condimentum sagittis. <a href="">Maecenas</a> laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. <strong>Etiam semper</strong> eros vitae vestibulum ultricies.</p>

  <ol>
  <li>This is a list item in an ordered list</li>
  <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
  <li>
    Lists can be nested inside of each other
    <ol>
      <li>This is a nested list item</li>
      <li>This is another nested list item in an ordered list</li>
    </ol>
  </li>
  <li>This is the last list item</li>
</ol>
  <ul>
  <li>This is a list item in an unordered list</li>
  <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
  <li>
    Lists can be nested inside of each other
    <ul>
      <li>This is a nested list item</li>
      <li>This is another nested list item in an unordered list</li>
    </ul>
  </li>
  <li>This is the last list item</li>
</ul>

  <h3>Header Three</h3>
  <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  <h4>Header Four</h4>
  <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

      <figure class="o-figure size--large">
  <div class="o-figure__image">
    <picture class="picture">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="//picsum.photos/1200/900" media="(min-width: 900px)">
        <source srcset="//picsum.photos/900/675" media="(min-width: 700px)">
    <source srcset="//picsum.photos/700/525" media="(min-width: 500px)">
  <!--[if IE 9]></video><![endif]-->

      <img itemprop="image" srcset="//picsum.photos/500/375" alt="Alt Text">
  </picture>
  </div> <!-- /.o-figure__image -->
  <div class="o-figure__caption">
    <figcaption class="o-figcaption">
  <p class="o-caption u-color--gray u-font--secondary--s">Led do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
</figcaption>
  </div> <!-- /.o-figure__caption -->
</figure> <!-- /.o-figure -->
  
  <h5>Header Five</h5>
  <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  <h6>Header Six</h6>
  <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

      <blockquote class="pullquote u-theme--border-color--darker--left u-theme--color--darker u-padding--right">
  <p>Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</p>
  <cite class="o-citation u-theme--color--base">&mdash; Alvin Brodus</cite>
</blockquote> <!-- /.pullquote -->
  
  <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium. In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

      <div class="o-pullquote--extended">
      <blockquote class="pullquote u-theme--border-color--darker--left u-theme--color--darker u-padding--right">
  <p>Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</p>
  <cite class="o-citation u-theme--color--base">&mdash; Alvin Brodus</cite>
</blockquote> <!-- /.pullquote -->
    </div>
  
  <p>Vestibulum a felis tincidunt, elementum risus ac, porttitor dolor. Maecenas et blandit quam. Duis gravida sem id augue laoreet fringilla nec eu ante. Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue
    nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat morbi malesuada augue ac massa hendrerit fermentum integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.</p>

  <p>Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

  <p>Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.</p>

  <form class="c-form c-subscribe-form u-theme--dark u-theme--background-color--darker u-spacing u-padding" action="index.html" method="post">
  <h2 class="u-font--primary--l u-color--white"><strong>Subscribe for Healthy Spam-Substitute</strong></h2>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="First Name" type="text" name="first_name" value="">
    <label class="u-font--secondary--s" for="">First Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Last Name" type="text" name="last_name" value="">
    <label class="u-font--secondary--s" for="">Last Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Email Address" type="email" name="email" value="">
    <label class="u-font--secondary--s" for="">Email Address</label>
  </div>
  <div class="u-spacing--half">
    <span class="u-font--secondary--s u-theme--color--lighter u-text-transform--upper"><strong>Frequency</strong></span>
    <div class="c-form-group__radio">
      <input type="radio" name="option" value="one" checked>
      <label class="u-font--secondary--s" for="">Weekly Bulletin</label>
    </div>
    <div class="c-form-group__radio">
      <input type="radio" name="option" value="two">
      <label class="u-font--secondary--s" for="">Seasonal Bulletin</label>
    </div>
  </div>
  <button class="o-button o-button--outline" type="submit">Submit</button>
  <button class="o-button o-button--simple" type="submit"><span class="u-icon u-icon--xs u-theme--path-fill--lighter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>o-icon__close</title><path d="M9.91,1.5,8.5.09,5,3.59,1.5.09.09,1.5,3.59,5,.09,8.5,1.5,9.91,5,6.41l3.5,3.5L9.91,8.5,6.41,5Z" fill="#9b9b9b"/></svg>
</span>Cancel</button>
</form>
</div>
