<footer class="c-article__footer u-padding--left">
  <a href="" class="c-social-tools__comment can-be--white o-kicker u-theme--color--base u-space--right"><span class="u-icon u-icon--xs u-theme--path-fill--base u-space--quarter--right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>o-icon__contact</title><path d="M0,0V8H6l4,2V0ZM8,6.76,6.47,6H2V2H8Z" fill="#777"/></svg>
</span>Comment</a>
  <div class="c-share-tools js-hover" addthis:url="">
  <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4ed4fc0e60966005" class="c-share-tools__toggle addthis_button_compact can-be--white o-kicker u-theme--color--base"><span class="u-icon u-icon--xs u-theme--path-fill--base u-space--quarter--right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>icon-share</title><path d="M14.21,6.21,7,9.8c0,.06,0,.13,0,.2s0,.13,0,.2l7.17,3.58a3.46,3.46,0,0,1,2.26-.84,3.53,3.53,0,1,1-3.53,3.53c0-.07,0-.14,0-.2L5.8,12.68a3.53,3.53,0,1,1,0-5.37L13,3.73c0-.07,0-.13,0-.2a3.53,3.53,0,1,1,3.53,3.53A3.47,3.47,0,0,1,14.21,6.21Z"/></svg></span>Share</a>
  <ul class="c-share-tools__list u-background-color--gray--light can-be--dark-dark u-theme--border-color--darker--left u-spacing--half u-padding--half">
    <li class="c-share-tools__list-item">
      <a class="c-share-tools__link u-theme--color--base addthis_button_facebook" g:plusone:count="false">Facebook</a>
    </li>
    <li class="c-share-tools__list-item">
      <a class="c-share-tools__link u-theme--color--base addthis_button_twitter" g:plusone:count="false">Twitter</a>
    </li>
    <li class="c-share-tools__list-item">
      <a class="c-share-tools__link u-theme--color--base addthis_button_google_plusone" g:plusone:count="false">Google</a>
    </li>
    <li class="c-share-tools__list-item">
      <a class="c-share-tools__link u-theme--color--base addthis_button_email" g:plusone:count="false">Email</a>
    </li>
  </ul>
</div> <!-- /.c-share-tools -->
</footer> <!-- /.c-article__footer -->
