  <section class="c-section c-section__block-feed u-spacing--double">
          <div class="l-grid l-grid--7-col u-no-gutters">
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group u-flex--justify-start">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                General Conference
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dolor leo, quis tempus turpis bibendum sed. Maecenas vitae massa facilisis, pellentesque ex vitae, elementum nisi.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta hide">
                            </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group u-flex--justify-start">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                General Conference
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dolor leo, quis tempus turpis bibendum sed. Maecenas vitae massa facilisis, pellentesque ex vitae, elementum nisi.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta hide">
                            </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group u-flex--justify-start">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                General Conference
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dolor leo, quis tempus turpis bibendum sed. Maecenas vitae massa facilisis, pellentesque ex vitae, elementum nisi.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta hide">
                            </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                General Conference
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit dolor leo, quis tempus turpis bibendum sed. Maecenas vitae massa facilisis, pellentesque ex vitae, elementum nisi.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta hide">
                            </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                Adventist leaders call for international cooperation to end abuse of refugees in Libya
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Curabitur non est vulputate, euismod nibh non, sollicitudin nisi. Morbi ullamcorper purus et massa mattis fermentum.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta u-theme--color--dark u-font--secondary--xs">
                      <span class="c-block__category u-text-transform--upper">Culture</span>
                                <time class="c-block__date u-text-transform--upper" datetime="2018-12-28">December 28, 2018</time>
                  </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                Adventist leaders call for international cooperation to end abuse of refugees in Libya
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Curabitur non est vulputate, euismod nibh non, sollicitudin nisi. Morbi ullamcorper purus et massa mattis fermentum.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta u-theme--color--dark u-font--secondary--xs">
                      <span class="c-block__category u-text-transform--upper">Culture</span>
                                <time class="c-block__date u-text-transform--upper" datetime="2018-12-28">December 28, 2018</time>
                  </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                Adventist leaders call for international cooperation to end abuse of refugees in Libya
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Curabitur non est vulputate, euismod nibh non, sollicitudin nisi. Morbi ullamcorper purus et massa mattis fermentum.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta u-theme--color--dark u-font--secondary--xs">
                      <span class="c-block__category u-text-transform--upper">Culture</span>
                                <time class="c-block__date u-text-transform--upper" datetime="2018-12-28">December 28, 2018</time>
                  </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
                  <div class="l-grid-item l-grid-item l-grid-item--s--3-col l-grid-item--xl--2-col">
              <div class="c-media-block c-block c-media-block__stacked c-block__stacked u-space--right u-space--double--bottom">
          <div
        class="c-media-block__image c-block__image ">
        <div class="c-block__image-wrap ">
                      <picture class="picture">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                                          <source srcset="//picsum.photos/700/400" media="(min-width: 500px)">
              <!--[if IE 9]></video><![endif]-->
              <img itemprop="image" srcset="//picsum.photos/500/280" alt="Alt Text">
            </picture>
                  </div>
      </div>
      <!-- c-media-block__image -->
        <div class="c-media-block__content c-block__content u-spacing u-border--left u-color--gray u-theme--border-color--darker--left">
      <div class="u-spacing c-block__group c-media-block__group ">
        <div class="u-width--100p u-spacing">
                                <h3 class="c-media-block__title c-block__title u-theme--color--darker u-font--primary--m ">
                              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
                                Adventist leaders call for international cooperation to end abuse of refugees in Libya
                                </a>
                          </h3>
                                <p class="c-media-block__description c-block__description">Curabitur non est vulputate, euismod nibh non, sollicitudin nisi. Morbi ullamcorper purus et massa mattis fermentum.</p>
                  </div>
        <div class="c-media-block__meta c-block__meta u-theme--color--dark u-font--secondary--xs">
                      <span class="c-block__category u-text-transform--upper">Culture</span>
                                <time class="c-block__date u-text-transform--upper" datetime="2018-12-28">December 28, 2018</time>
                  </div>
                  <a href="" class="c-block__button o-button o-button--outline">Read More
            <span class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>o-arrow__long--left</title><path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b"/></svg>
</span></a>
              </div>
    </div>
    <!-- c-media-block__content -->
  </div>
  <!-- c-media-block -->
          </div>
              </div>
      </section>
