  <nav class="c-footer__secondary-nav__list u-spacing--half">
          <a href="" class="c-footer__secondary-nav__link u-link--white u-theme--link-hover--light">
        <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.01 10"><title>o-cion</title><path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z" fill="#231f20"/></svg></span>
        <font>Trademark and Logo Usage</font>
      </a>
          <a href="" class="c-footer__secondary-nav__link u-link--white u-theme--link-hover--light">
        <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.01 10"><title>o-cion</title><path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z" fill="#231f20"/></svg></span>
        <font>Legal Notice</font>
      </a>
      </nav>
  <!-- /.c-footer__secondary-nav -->
