<div class="c-carousel__item u-position--relative ">
        <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="//picsum.photos/1200/900" media="(min-width: 900px)">
              <source srcset="//picsum.photos/900/675" media="(min-width: 700px)">
        <source srcset="//picsum.photos/700/525" media="(min-width: 500px)">
    <!--[if IE 9]></video><![endif]-->

          <img itemprop="image" srcset="//picsum.photos/500/375" alt="Alt Text">
      </picture>
        <div class="c-carousel__item-text__wrap l-grid l-grid--7-col u-shift--left--1-col--at-large">
      <div class="l-grid-item l-grid-item--m--4-col l-grid-item--xl--3-col">
        <div class="c-carousel__item-text  u-spacing u-padding--double--top u-padding--double--bottom">
          <div class="c-carousel__item-text--inner u-spacing--half">
            <h2 class="c-carousel__item-heading u-font--primary--xl">Lorem Ipsum</h2>
                          <h3 class="c-carousel__item-subtitle u-font--secondary--s u-text-transform--upper">
                <strong>Fusce nec urna ut tellus accumsan fermentum.</strong>
              </h3>
                        <div class="c-carousel__item-dek">
              <p>Morbi eleifend, mi et varius imperdiet, nunc magna ullamcorper nibh, vel varius felis dui ac arcu. Vestibulum semper commodo dolor vel congue. Curabitur eleifend ligula ut arcu finibus posuere.</p>
            </div>
            <!-- /.c-carousel__item-dek -->
          </div>
          <a href="" class="c-carousel__item-cta o-button u-theme--secondary-background-color">Mec cursus mi</a>
        </div>
        <!-- /.c-carousel__item-text -->
      </div>
    </div>
  </div>
<!-- /.c-carousel__item -->