  <div class="c-block c-block__text has-image u-theme--border-color--darker u-border--left c-block__text-expand u-spacing u-background-color--gray--light u-padding u-clear-fix can-be--dark-dark">
          <img class="c-block__image" src="//picsum.photos/400/400" />
        <h3 class="u-theme--color--darker u-font--primary--m">
              <a href="/" class="c-block__title-link u-theme--link-hover--dark">
            <strong>Mariana Chambers</strong>
              </a>
          </h3>
          <p class="c-block__body text">Fusce interdum purus est, vel semper ex tristique ut. Proin dapibus luctus pellentesque. Duis et sapien sit amet enim porttitor gravida at non orci. Proin dictum lobortis luctus.</p>
                  <div class="c-block__content">
        <p>Fusce interdum purus est, vel semper ex tristique ut. Proin dapibus luctus pellentesque. Duis et sapien sit amet enim porttitor gravida at non orci. Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. Pellentesque semper tincidunt ex sit amet tincidunt. Cras at sem at felis rhoncus varius eget vel ipsum.</p>
      </div>
              <a href="" class="o-button o-button--outline o-button--expand js-toggle-parent"></a>
      </div>
