  <div class="js-this c-block c-block c-block__expand u-background-color--gray--light u-border--left u-theme--border-color--darker--left can-be--dark-dark">
    <div class="c-block__header">
      <div class="c-block__title u-padding">
                  <h2 class="u-font--primary--s u-theme--color--darker">
            <span class="u-theme--color--base"><em>Context Matters</em></span> Donec sit amet justo at sapien aliquet iaculis.
          </h2>
                <div class="c-block__toggle">
          <button class="js-toggle o-button o-button--outline o-button--toggle o-button--small" data-toggled="this" data-prefix="this"><span class="u-icon u-icon--xs u-path-fill--white"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><title>o-icon__plus</title><path d="M10,4H6V0H4V4H0V6H4v4H6V6h4Z" fill="#9b9b9b"/></svg>
</span></button>
        </div>
      </div> <!-- /.c-block__title -->
    </div> <!-- /.c-block__header -->
    <div class="c-block__body u-padding u-padding--zero--top u-spacing">
      <p>Nam pretium et mauris sit amet vehicula. Morbi at est tristique, mollis odio ut, dignissim tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed placerat nec nisl at laoreet. Cras tristique lacus turpis, sit amet luctus lorem facilisis sed. Suspendisse tempor ante mauris, vitae bibendum sem interdum sit amet. Nam vitae elit lobortis, vehicula neque ut, semper massa.</p><p>Proin hendrerit, diam eget aliquam semper, ipsum elit efficitur erat, a consectetur tortor ex at arcu. Nullam tincidunt lacus at scelerisque pulvinar. Donec faucibus maximus mi ut congue. Proin purus libero, fringilla et orci a, luctus posuere purus. Curabitur justo mi, auctor ut turpis eu, accumsan malesuada elit.</p>
    </div> <!-- /.c-block__body -->
  </div> <!-- /.c-block -->
