// Style Guide color swatches
.sg-colors {
    overflow: hidden;
    li {
        overflow: hidden;
        border: 1px solid $sg-tertiary;
        padding: 0.3em;
        margin: 0 0.2em 0.2em 0;
        @media all and (min-width: $sg-bp-small-2) {
            float: left;
            width: 5em;
        }
    }
}

.sg-swatch {
    display: block;
    height: 1.5em;
    width: 50%;
    @media all and (max-width: $sg-bp-small-2) {
        float: left;
        margin-right: 0.3em;
    }
    @media all and (min-width: $sg-bp-small-2) {
        width: 100%;
        height: 4em;
        margin-bottom: 0.2em;
    }
}

.sg-label {
    line-height: 1;
}

.sg-annotation-toggle {
    display: none;
}

.sg-code-head {
    color: $sg-quaternary;
}

.sg-code {
    display: none !important;
    color: lighten(#e6db74, 10);
    background-color: #272822;
    pre {
        border-color: $sg-quaternary;
        font-size: rem(18);
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


/**
 *  * Color Containers
 */

.colorset {
    display: flex;
    flex-wrap: wrap;
}

.colorset--color {
    flex: 0 1 20%;
    flex-direction: column;
    border: 1px $gray-light solid;
    padding: 5px;
}

.sg-label--color {
    display: block;
    color: $gray;
}

.sg-label--block {
    display: inline-block;
    margin-right: .25em;
    background: $gray-light;
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;
}