---
layout: default
---

<article class="l-grid-item l-grid-item--l--4-col l-grid-item--xl--4-col u-spacing">

  {% include breadcrumbs.html %} {% include page-header.html %}

  <section class="c-section u-spacing">
    {{ content | markdownify }}
  </section>
  <!-- end c-section -->

  <section class="c-section">

    <section class="l-section__block-row l-section__block-row--6-col l-grid u-break-gutter u-space--double--bottom">
    <h2 id="bright" class="u-padding--left u-font--secondary--l">Bright Colors</h2>

      <div class="l-grid-item u-padding--zero--sides u-flex">
        {% for color in site.data.color.colors_base %}
          {% if color.shade == "bright" %}
            {% include component-color-block.html %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <section class="l-section__block-row l-section__block-row--6-col l-grid u-break-gutter u-space--double--bottom">
        <h2 id="muted" class="u-padding--left u-font--secondary--l">Muted Colors</h2>

      <div class="l-grid-item u-padding--zero--sides u-flex">
        {% for color in site.data.color.colors_base %}
          {% if color.shade == "muted" %}
            {% include component-color-block.html %}
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="l-section__block-row l-section__block-row--6-col l-grid u-break-gutter u-space--double--bottom">
      <h2 id="muted" class="u-padding--left u-font--secondary--l">Neutrals</h2>

    <div class="l-grid-item u-padding--zero--sides u-flex">
      {% for color in site.data.color.colors_base %}
        {% if color.shade == "neutral" %}
          {% include component-color-block.html %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  </section>
  <!-- end c-section -->

  <section class="c-section">
    <h2>Extended Colors</h2>

    <h3 class="u-font--primary--m ">Treefrog</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-treefrog-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3 class="u-font--primary--m ">Ming</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-ming-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h3 class="u-font--primary--m ">Bluejay</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-bluejay-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h3 class="u-font--primary--m ">Iris</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-iris-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <h3 class="u-font--primary--m ">Lily</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-lily-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3 class="u-font--primary--m ">Scarlett</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-scarlett-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3 class="u-font--primary--m ">Campfire</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-campfire-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3 class="u-font--primary--m ">Winter</h3>
    <table class="o-color-table o-table-slim">
      <tbody>
        {% for color in site.data.color.colors_extended %}
        {% if color.parent == "color-winter-base" %}
          {% include component-color-table-rows.html %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>


  <section class="c-section">

    {% if page.usage %}
    <div class="c-section-header ">

      <h1 class="c-section-header__title u-font--secondary--l u-theme--color--darker">Usage</h1>

    </div>
    <!-- end c-section-header -->

    <div class="c-text-passage u-spacing">
      {% include definition-list.html %}

    </div>
    <!-- end c-text-passage -->
    {% endif %}


    <div class="c-table-container">

      <table class="c-table ">

        <thead class="c-table__header">

          <tr class="c-table__header-row">
            <th scope="col" class="c-table__header-cell ">Class Name</th>
            <th scope="col" class="c-table__header-cell ">Description</th>
          </tr>
          <!-- c-table__header-row -->

        </thead>
        <!-- end c-table__header -->

        <tbody class="c-table__body ">
          {% for class in page.classes %}

          <tr class="c-table__row ">

            <td class="c-table__cell ">
              <code class="nowrap">
                {{ class.className }}
              </code>
            </td>

            <td class="c-table__cell ">
              {% capture desc %}{{ class.description }}{% endcapture %} {% if class.description %}{{ desc | markdownify }}{% endif %}
            </td>

          </tr>
          <!-- end c-table__row -->
          {% endfor %}


        </tbody>
        <!-- end c-table__body -->

      </table>
      <!--end c-table-->

    </div>
    <!--end c-table-container-->

  </section>
  <!-- end c-section -->

  <section class="c-section c-footer__copyright u-background-color--gray--light u-padding--half">

    <h2 class="u-font--secondary--m u-theme--color--darker">Fine print</h2>

    <ul>
      <li>Last updated: {{ page.last_modified_at | date: '%A %d-%B-%Y at %H:%M:%S' }}</li>
      {% for print in page.fine-print %}
      <li>Version: {{ print.version }}</li>
      <li>Last Updated: {{ print.update }}</li>
      <li>Owner:
        <a href="#">{{ print.owner }}</a>
      </li>
      {% endfor %}
    </ul>

  </section>
  <!-- end c-section -->

</article>
