<div class="c-comment--inner u-border--left u-theme--border-color--darker">
  <div class="c-comment__avatar u-space--right">
    <img alt="" src="//placeimg.com/32/32/people" class="avatar" height="50" width="50">
  </div>
  <div class="c-comment__body u-spacing--quarter">
    <div class="c-comment__meta">
      <span class="byline u-font--secondary--s can-be--white u-theme--color--darker"><a href="">Bob Smith</a></span>
      <span class="o-divider">|</span>
      <span class="pub_date u-font--secondary--s u-color--gray can-be--white">9 days ago</span><span class="c-comment__edit-link u-font--secondary--s u-theme--color--base"><a class="c-comment-edit-link" href="">(Edit)</a></span>
    </div>
    <p class="c-comment__content">Vivamus sollicitudin ipsum vel rutrum facilisis. Vestibulum eu cursus massa. Donec faucibus velit eu enim dapibus, sed scelerisque nibh finibus. Praesent imperdiet, leo ut ullamcorper facilisis, felis neque vestibulum mi, in vehicula turpis libero vestibulum eros. Nunc ac lectus id dui eleifend dignissim.</p>
    <div class="c-comment__reply">
      <a href="" class="u-font--secondary--s u-theme--color--base">Reply</a>
    </div>
  </div>
</div>
